// Color variables (appears count calculates by raw css)
@color0: #4c668a; // Appears 3 times
@color1: #ffffff; // Appears 2 times
@color2: #f05228;

@button_color_r: 128;
@button_color_g: 187;
@button_color_b: 60;

// Width variables (appears count calculates by raw css)
@width3: 180px; // Appears 2 times

@logo_icon: logo.svg;
@info_icon: information.svg;
@checked_icon: checked.svg;
@invalid_icon: invalid.svg;
@refresh_icon: refresh.svg;

@progress_background: 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent;
@progress_background_size: 40px 40px;
@progress_transition: width .6s ease;
@progress_animation: progress-bar-stripes 2s linear infinite;

@cancel_button_inset_rule: inset 0 0 0 2px @color2;

.woleet-widget {

  .widget {
    background-color: @color0;
    border-radius: 20px;
    border: 3px solid @color0;
    //height: 130px;
    width: 330px;
    color:#000;
    text-decoration:none;
    line-height:1em;
    font-weight:normal;
    padding:0;
    margin:0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    > div {
      background: #f6f6f6;
      border-radius: 0 0 17px 17px;
      padding: 5px 20px;
    }

    > .head {
      background: @color0;
      //border-radius: 17px;
      height: 25px;
      line-height: 25px;
      //display: inline-flex;
      border-radius: 17px;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;

      .woleet-logo {
        background-size: 100%;
        background: data-uri(@logo_icon) no-repeat;
        margin-top: 1px;
        height: 100%;
        width: 85px;
      }

      .mini-button {
        background-size: 100% !important;
        height: 24px;
        width: 24px;
        position: absolute;
        margin: -26px 0 0 280px;
      }

      .receipt-button {
        margin-left: 190px;
        margin-top: -26px;
        color: #fff;
        white-space: nowrap;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
        font-size: x-small;
        background: rgb(@button_color_r, @button_color_g, @button_color_b);
        border: none;
        border-radius: 5px;
        display: block;
        padding: 5px 10px;
        box-shadow: 0 2px 0 rgba(@button_color_r, @button_color_g, @button_color_b, 0.75);
        line-height: initial;

        &:active {
          box-shadow: 0 1px 0 rgba(@button_color_r, @button_color_g, @button_color_b, 1);
          position: relative;
          top: 1px;
        }

        &:focus {
          outline: none;
        }

      }

      .mini-button.reset {
        background: data-uri(@refresh_icon) no-repeat;
      }

      .mini-button.cancel {
        background: data-uri(@invalid_icon) no-repeat, #fff;
        border-radius: 50%;
        -webkit-box-shadow: @cancel_button_inset_rule;
        -moz-box-shadow: @cancel_button_inset_rule;
        box-shadow: @cancel_button_inset_rule;
      }

    }

    > .body {
      font-family: sans-serif;
      height: 85px;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;

      > div {
        animation: fly .5s ease;
        transform-origin: center;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
      }

      .dropZoneContainer {
        border-radius: 1em;
        border: 2px dashed;
        color: #999;
        height: 49px;
        overflow: hidden;
        padding: 1em 0;
        text-align: center;

        .dropZone {
          margin-top: -5em;
          height: inherit;
          outline: none;
          padding-top: 10em;
          width: 100%;
        }
      }

      .infoZone {
        > .text {
          padding-left: 70px;
          text-align: initial;
          margin-left: 15px;
        }

        > a {
          margin-left: 0 !important;
          padding-left: 0 !important;
        }
      }

      .hashZone {

        span {
          font-size: small;
          color: #888;
        }

        .progressBarContainer {
          width: 100%;
          margin: 15px 0 10px 0;
          height: 1em;
          border-radius: 5px;
          background: #e4e4e4;

          .progressBar {
            height: 1em;
            width: 0;

            animation: @progress_animation;
            background: rgba(139, 195, 74, 0.65) linear-gradient(@progress_background);
            background-size: @progress_background_size;
            transition: @progress_transition;
            margin: 15px 0;
            border-radius: 5px;
          }
        }
      }

    }

    .hidden {
      display: none !important;
    }

    .text {
      font-family: sans-serif;
      color: #333;
      padding: 5px 5px 0 5px;
      &.small {
        font-size: small;
      }
      &.x-small {
        font-size: xx-small;
        white-space: nowrap;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
      }
      &.warn {
        font-size: x-small;
        color: @color2;
      }
    }

    .infoStatus {
      display: none;
      height: 70px;
      width: 70px;
      margin: 6px 0;
      position: absolute;
    }

    .validated .infoStatus {
      background-size: 100%;
      background: data-uri(@checked_icon) no-repeat;
      display: block;
    }

    .error .infoStatus {
      background-size: 100%;
      background: data-uri(@invalid_icon) no-repeat;
      display: block;
    }

    .clickable {
      &:hover {
        cursor: pointer;
      }
    }

    @keyframes progress-bar-stripes {
      from {
        background-position: 40px 0;
      }
      to {
        background-position: 0 0;
      }
    }

    @keyframes fly {
      from {
        transform: scale(0);
        opacity: 0;
      }
    }

  }
}